<nav class="navbar navbar-inverse bg-inverse">
  <a class="navbar-brand" href="#">Navbar</a>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

  <div class="row">
    <div class= "col-lg-10"></div>
      <div class="col-lg-1">
        <h3><%= link_to new_tasklist_path do %>
      <button type="button" class="btn btn-primary btn-lg">Create New Tasklist</button>
        <% end %></h3>
        <br>
      </div>
  </div>
  <div class="row">
    <div class= "col-lg-12">
      <div class="card-deck">
        <% @tasklists.each do |tasklist| %>
        <div class="card">
          <div class="card-block">
            <h4 class="card-title"><%= link_to tasklist.title, edit_tasklist_path(tasklist),method: :get %></h4>
            <p class="card-text">
            <table class="table">
              <thead >
                <th class="text-right"><%= link_to '+', new_tasklist_task_path(tasklist) %></th>
              </thead>
              <tbody>
                <% tasklist.tasks.each do |task| %>
                  <td class="row">
                    <div class= "col-lg-8"><%= link_to task.name, tasklist_task_path(tasklist, task), method: :get %></div>
                    <div class= "col-lg-4">
                      <% if task.status? %>
                        <%= link_to incomplete_tasklist_task_path(tasklist, task), method: :put do %>
                          <button type="button" class="btn btn-success btn-sm">completed</button>
                        <% end %>
                      <% else %>
                        <%= link_to complete_tasklist_task_path(tasklist, task), method: :put do %>
                          <button type="button" class="btn btn-warning btn-sm">in progress</button>
                        <% end %>
                    </div>
                      <% end %>
                   </td>
                   <tr>
                <% end %>
              </tbody>
            </table>
            </p>
            <p class="card-text"><small class="text-muted">Created at: <%= tasklist.created_at %></small></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>


