<h1>Task#Index</h1>

<table class= "table">
  <thead>
    <th>Name: </th>
    <th>Description:</th>
    <th>Due Date:</th>
  </thead>
<% @tasks.each do |task| %>
  <tbody>
    <td><%= task.name %></td>
    <td><%= task.description %></td>
    <td><%= task.due_date %></td>
    <td><%= link_to "Show Task", tasklist_task_path(@tasklist, task), method: :get %></td>
    <td><%= link_to "Edit Task", edit_tasklist_task_path(@tasklist, task), method: :get %></td>
    <td><%= link_to "Delete Task", tasklist_task_path(@tasklist, task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tbody>
<% end %>
</table>
<br>
<%= link_to "New Task", new_tasklist_task_path, method: :get %>


