<h1>Task#new</h1>

<%= simple_form_for @task, url: tasks_path, method: :post do |f| %>
<%= f.input :name %>
<%= f.input :description %>
<%= f.input :due_date %>
<%= f.button :submit, 'Create task' %>
<% end %>
