<div class= "container">
  <div class= "row">
    <div class= "col-lg-12">
  <h1><%= @task.name %></h1>

      <table class="table">
        <thead>
          <th>Name</th>
          <th>Description</th>
          <th>Due Date</th>
        </thead>
        <tbody>
          <td><%= @task.name %></td>
          <td><%= @task.description %></td>
          <td><%= @task.due_date %></td>
          <td> <%= link_to "Edit Task", edit_tasklist_task_path(@tasklist, @task), method: :get %></td>
          <td> <%= link_to "Delete Task", tasklist_task_path(@tasklist, @task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <tbody>
      </table>

    </div>
  </div>
</div>
